<?xml version="1.0"?>
<!-- /** * @category Experian * @package Experian_Qas * @copyright Experian 
    2012 * @license http://opensource.org/licenses/osl-3.0.php Open Software 
    License (OSL 3.0) */ -->
<config>
    <modules>
        <Experian_Qas>
            <version>0.0.1</version>
        </Experian_Qas>
    </modules>
    <global>
        <ignoredModules>
            <entities>
                <qas />
            </entities>
        </ignoredModules>
        <models>
            <experian_qas>
                <class>Experian_Qas_Model</class>
            </experian_qas>
        </models>
        <resources> 
            <qas_setup> 
                <setup> 
                    <module>Experian_Qas</module> 
                    <class>Mage_Customer_Model_Entity_Setup</class> 
                </setup> 
                <connection> 
                    <use>core_setup</use> 
                </connection> 
            </qas_setup> 
        </resources>
        <helpers>
            <experian_qas>
                <class>Experian_Qas_Helper</class>
            </experian_qas>
        </helpers>
        <blocks>
            <experian_qas>
                <class>Experian_Qas_Block</class>
            </experian_qas>
        </blocks>
        <events>
            <admin_system_config_changed_section_qas_address_verifier>
                <observers>
                    <experian_qas>
                        <type>singleton</type>
                        <class>experian_qas/observer</class>
                        <method>confirmationCredentialsAndDs</method>
                    </experian_qas>
                </observers>
            </admin_system_config_changed_section_qas_address_verifier>
            
            <customer_address_save_before>
                <observers>
                    <experian_qas_flag_customer_address>
                        <type>singleton</type>
                        <class>experian_qas/observer</class>
                        <method>flagCustomerAddress</method>
                    </experian_qas_flag_customer_address>
                </observers>
            </customer_address_save_before>
            
            <checkout_type_onepage_save_order>
                <observers>
                    <experian_qas_flag_order_address>
                        <type>model</type>
                        <class>experian_qas/observer</class>
                        <method>flagOrderAddress</method>
                    </experian_qas_flag_order_address>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        
        <!-- Search Engine type options -->
        <experian_qas>
            <engine>
                <type>
                    <verification translate="label">
                        <value>Verification</value>
                        <label>Verification</label>
                    </verification>
                    <singleline translate="label">
                        <value>Singleline</value>
                        <label>Singleline</label>
                    </singleline>
                </type>
            </engine>
            <specialengine>
                <type>
                    <singleline translate="label">
                        <value>Singleline</value>
                        <label>Singleline</label>
                    </singleline>
                </type>
            </specialengine>
        </experian_qas>

        <mapping>
            <address>
                <!-- UK -->
                <MAGENTO2012_organisation>
                    <key><![CDATA[Organisation]]></key>
                    <value><![CDATA[street_2]]></value>
                </MAGENTO2012_organisation>

                <!-- US -->
                <MAGENTO2012_building_firm_name>
                    <key><![CDATA[Building/firm name]]></key>
                    <value><![CDATA[street_2]]></value>
                </MAGENTO2012_building_firm_name>
                <MAGENTO2012_organisation>
                    <key><![CDATA[County]]></key>
                    <value><![CDATA[street_2]]></value>
                </MAGENTO2012_organisation>

                <!-- All -->
                <MAGENTO2012_street_1>
                    <key><![CDATA[Street 1]]></key>
                    <value><![CDATA[street_1]]></value>
                </MAGENTO2012_street_1>
                <MAGENTO2012_street_2>
                    <key><![CDATA[Street 2]]></key>
                    <value><![CDATA[street_2]]></value>
                </MAGENTO2012_street_2>
                <MAGENTO2012_street_3>
                    <key><![CDATA[Street 3]]></key>
                    <value><![CDATA[street_2]]></value>
                </MAGENTO2012_street_3>
                <MAGENTO2012_city>
                    <key><![CDATA[City]]></key>
                    <value><![CDATA[city]]></value>
                </MAGENTO2012_city>
                <MAGENTO2012_state_province>
                    <key><![CDATA[State/Province]]></key>
                    <value><![CDATA[region]]></value>
                </MAGENTO2012_state_province>
                <MAGENTO2012_zip_postal_code>
                    <key><![CDATA[ZIP/Postal Code]]></key>
                    <value><![CDATA[zip]]></value>
                </MAGENTO2012_zip_postal_code>
                <MAGENTO2012_country_region>
                    <key><![CDATA[Country/Region]]></key>
                    <value><![CDATA[country]]></value>
                </MAGENTO2012_country_region>

                <!-- key is not the same 'c' lower letter -->
                <TMP_ESP_MAGENTO2012_zip_postal_code>
                    <key><![CDATA[ZIP/Postal code]]></key>
                    <value><![CDATA[zip]]></value>
                </TMP_ESP_MAGENTO2012_zip_postal_code>

            </address>
            <dataset>
                <AW><![CDATA[ABW]]></AW>
                <AF><![CDATA[AFG]]></AF>
                <AO><![CDATA[AGO]]></AO>
                <AL><![CDATA[ALB]]></AL>
                <AN><![CDATA[ANT]]></AN>
                <AE><![CDATA[ARE]]></AE>
                <AR><![CDATA[ARG]]></AR>
                <AM><![CDATA[ARM]]></AM>
                <AG><![CDATA[ATG]]></AG>
                <AU><![CDATA[AUS]]></AU>
                <AT><![CDATA[AUT]]></AT>
                <AZ><![CDATA[AZE]]></AZ>
                <BI><![CDATA[BDI]]></BI>
                <BE><![CDATA[BEL]]></BE>
                <BJ><![CDATA[BEN]]></BJ>
                <BF><![CDATA[BFA]]></BF>
                <BD><![CDATA[BGD]]></BD>
                <BG><![CDATA[BGR]]></BG>
                <BH><![CDATA[BHR]]></BH>
                <BS><![CDATA[BHS]]></BS>
                <BA><![CDATA[BIH]]></BA>
                <BY><![CDATA[BLR]]></BY>
                <BZ><![CDATA[BLZ]]></BZ>
                <BM><![CDATA[BMU]]></BM>
                <BO><![CDATA[BOL]]></BO>
                <BR><![CDATA[BRA]]></BR>
                <BB><![CDATA[BRB]]></BB>
                <BN><![CDATA[BRN]]></BN>
                <BT><![CDATA[BTN]]></BT>
                <BW><![CDATA[BWA]]></BW>
                <CF><![CDATA[CAF]]></CF>
                <CA><![CDATA[CAN]]></CA>
                <CH><![CDATA[CHE]]></CH>
                <CL><![CDATA[CHL]]></CL>
                <CN><![CDATA[CHN]]></CN>
                <CI><![CDATA[CIV]]></CI>
                <CM><![CDATA[CMR]]></CM>
                <CD><![CDATA[COD]]></CD>
                <CG><![CDATA[COG]]></CG>
                <CO><![CDATA[COL]]></CO>
                <KM><![CDATA[COM]]></KM>
                <CV><![CDATA[CPV]]></CV>
                <CR><![CDATA[CRI]]></CR>
                <CU><![CDATA[CUB]]></CU>
                <KY><![CDATA[CYM]]></KY>
                <CY><![CDATA[CYP]]></CY>
                <CZ><![CDATA[CZE]]></CZ>
                <DE><![CDATA[DEU]]></DE>
                <DJ><![CDATA[DJI]]></DJ>
                <DM><![CDATA[DMA]]></DM>
                <DK><![CDATA[DNK]]></DK>
                <DO><![CDATA[DOM]]></DO>
                <DZ><![CDATA[DZA]]></DZ>
                <EC><![CDATA[ECU]]></EC>
                <EG><![CDATA[EGY]]></EG>
                <ER><![CDATA[ERI]]></ER>
                <EH><![CDATA[ESH]]></EH>
                <ES><![CDATA[ESP]]></ES>
                <EE><![CDATA[EST]]></EE>
                <ET><![CDATA[ETH]]></ET>
                <FI><![CDATA[FIN]]></FI>
                <FJ><![CDATA[FJI]]></FJ>
                <FR><![CDATA[FRX]]></FR>
                <GA><![CDATA[GAB]]></GA>
                <GB><![CDATA[GBR]]></GB>
                <GE><![CDATA[GEO]]></GE>
                <GH><![CDATA[GHA]]></GH>
                <GN><![CDATA[GIN]]></GN>
                <GM><![CDATA[GMB]]></GM>
                <GW><![CDATA[GNB]]></GW>
                <GQ><![CDATA[GNQ]]></GQ>
                <GR><![CDATA[GRC]]></GR>
                <GD><![CDATA[GRD]]></GD>
                <GT><![CDATA[GTM]]></GT>
                <GY><![CDATA[GUY]]></GY>
                <HK><![CDATA[HKG]]></HK>
                <HN><![CDATA[HND]]></HN>
                <HR><![CDATA[HRV]]></HR>
                <HT><![CDATA[HTI]]></HT>
                <HU><![CDATA[HUN]]></HU>
                <ID><![CDATA[IDN]]></ID>
                <IN><![CDATA[IND]]></IN>
                <IE><![CDATA[IRL]]></IE>
                <IR><![CDATA[IRN]]></IR>
                <IQ><![CDATA[IRQ]]></IQ>
                <IS><![CDATA[ISL]]></IS>
                <IL><![CDATA[ISR]]></IL>
                <IT><![CDATA[ITA]]></IT>
                <JM><![CDATA[JAM]]></JM>
                <JO><![CDATA[JOR]]></JO>
                <JP><![CDATA[JPN]]></JP>
                <KZ><![CDATA[KAZ]]></KZ>
                <KE><![CDATA[KEN]]></KE>
                <KG><![CDATA[KGZ]]></KG>
                <KH><![CDATA[KHM]]></KH>
                <KI><![CDATA[KIR]]></KI>
                <KN><![CDATA[KNA]]></KN>
                <KR><![CDATA[KOR]]></KR>
                <KW><![CDATA[KWT]]></KW>
                <LA><![CDATA[LAO]]></LA>
                <LB><![CDATA[LBN]]></LB>
                <LR><![CDATA[LBR]]></LR>
                <LY><![CDATA[LBY]]></LY>
                <LI><![CDATA[LIE]]></LI>
                <LK><![CDATA[LKA]]></LK>
                <LS><![CDATA[LSO]]></LS>
                <LT><![CDATA[LTU]]></LT>
                <LU><![CDATA[LUX]]></LU>
                <LV><![CDATA[LVA]]></LV>
                <MA><![CDATA[MAR]]></MA>
                <MD><![CDATA[MDA]]></MD>
                <MG><![CDATA[MDG]]></MG>
                <MV><![CDATA[MDV]]></MV>
                <MX><![CDATA[MEX]]></MX>
                <MK><![CDATA[MKD]]></MK>
                <ML><![CDATA[MLI]]></ML>
                <MT><![CDATA[MLT]]></MT>
                <MM><![CDATA[MMR]]></MM>
                <MN><![CDATA[MNG]]></MN>
                <MZ><![CDATA[MOZ]]></MZ>
                <MR><![CDATA[MRT]]></MR>
                <MU><![CDATA[MUS]]></MU>
                <MW><![CDATA[MWI]]></MW>
                <MY><![CDATA[MYS]]></MY>
                <NA><![CDATA[NAM]]></NA>
                <NE><![CDATA[NER]]></NE>
                <NG><![CDATA[NGA]]></NG>
                <NI><![CDATA[NIC]]></NI>
                <NL><![CDATA[NLD]]></NL>
                <NO><![CDATA[NOR]]></NO>
                <NP><![CDATA[NPL]]></NP>
                <NR><![CDATA[NRU]]></NR>
                <NZ><![CDATA[NZL]]></NZ>
                <OM><![CDATA[OMN]]></OM>
                <PK><![CDATA[PAK]]></PK>
                <PA><![CDATA[PAN]]></PA>
                <PE><![CDATA[PER]]></PE>
                <PH><![CDATA[PHL]]></PH>
                <PG><![CDATA[PNG]]></PG>
                <PL><![CDATA[POL]]></PL>
                <KP><![CDATA[PRK]]></KP>
                <PT><![CDATA[PRT]]></PT>
                <PY><![CDATA[PRY]]></PY>
                <QA><![CDATA[QAT]]></QA>
                <RO><![CDATA[ROU]]></RO>
                <RU><![CDATA[RUS]]></RU>
                <RW><![CDATA[RWA]]></RW>
                <SA><![CDATA[SAU]]></SA>
                <RS><![CDATA[SCG]]></RS>
                <SD><![CDATA[SDN]]></SD>
                <SN><![CDATA[SEN]]></SN>
                <SG><![CDATA[SGF]]></SG>
                <SB><![CDATA[SLB]]></SB>
                <SL><![CDATA[SLE]]></SL>
                <SV><![CDATA[SLV]]></SV>
                <SO><![CDATA[SOM]]></SO>
                <ST><![CDATA[STP]]></ST>
                <SR><![CDATA[SUR]]></SR>
                <SK><![CDATA[SVK]]></SK>
                <SI><![CDATA[SVN]]></SI>
                <SE><![CDATA[SWE]]></SE>
                <SZ><![CDATA[SWZ]]></SZ>
                <SC><![CDATA[SYC]]></SC>
                <SY><![CDATA[SYR]]></SY>
                <TD><![CDATA[TCD]]></TD>
                <TG><![CDATA[TGO]]></TG>
                <TH><![CDATA[THA]]></TH>
                <TJ><![CDATA[TJK]]></TJ>
                <TM><![CDATA[TKM]]></TM>
                <TO><![CDATA[TON]]></TO>
                <TT><![CDATA[TTO]]></TT>
                <TN><![CDATA[TUN]]></TN>
                <TR><![CDATA[TUR]]></TR>
                <TV><![CDATA[TUV]]></TV>
                <TZ><![CDATA[TZA]]></TZ>
                <UG><![CDATA[UGA]]></UG>
                <UA><![CDATA[UKR]]></UA>
                <UY><![CDATA[URY]]></UY>
                <US><![CDATA[USA]]></US>
                <UZ><![CDATA[UZB]]></UZ>
                <VC><![CDATA[VCT]]></VC>
                <VE><![CDATA[VEN]]></VE>
                <VN><![CDATA[VNM]]></VN>
                <VU><![CDATA[VUT]]></VU>
                <WS><![CDATA[WSM]]></WS>
                <YE><![CDATA[YEM]]></YE>
                <ZA><![CDATA[ZAF]]></ZA>
                <ZM><![CDATA[ZMB]]></ZM>
                <ZW><![CDATA[ZWE]]></ZW>
            </dataset>
            <nomap><!-- for special countries ITA, RUS, BRA -->
                <countries>
                    <IT><![CDATA[ITA]]></IT>
                    <RU><![CDATA[RUS]]></RU>
                    <BR><![CDATA[BRA]]></BR>
                </countries>
                <address_keys>
                    <MAGENTO2012_street_1>
                        <key><![CDATA[Street 1]]></key>
                        <value><![CDATA[street_1]]></value>
                    </MAGENTO2012_street_1>
                    <MAGENTO2012_city>
                        <key><![CDATA[City]]></key>
                        <value><![CDATA[city]]></value>
                    </MAGENTO2012_city>
                    <MAGENTO2012_state_province>
                        <key><![CDATA[State/Province]]></key>
                        <value><![CDATA[region]]></value>
                    </MAGENTO2012_state_province>
                    <MAGENTO2012_zip_postal_code>
                        <key><![CDATA[ZIP/Postal Code]]></key>
                        <value><![CDATA[zip]]></value>
                    </MAGENTO2012_zip_postal_code>
                    <MAGENTO2012_country_region>
                        <key><![CDATA[Country/Region]]></key>
                        <value><![CDATA[country]]></value>
                    </MAGENTO2012_country_region>
                </address_keys>
            </nomap>
        </mapping>
    </global>
    <frontend>
        <routers>
            <qas>
                <use>standard</use>
                <args>
                    <module>Experian_Qas</module>
                    <frontName>qas</frontName>
                </args>
            </qas>
        </routers>
        <layout>
            <updates>
                <experian_qas>
                    <file>experian_qas.xml</file>
                </experian_qas>
            </updates>
        </layout>
        <translate>
            <modules>
                <Experian_Qas>
                    <files>
                        <default>Experian_Qas.csv</default>
                    </files>
                </Experian_Qas>
            </modules>
        </translate>
    </frontend>
    <default>
        <qas_address_verifier>
            <general>
                <wsdl_name>wsv3.wsdl</wsdl_name>
                <on_demand_url>http://www.qas.com/OnDemand-2011-03</on_demand_url>
            </general>
            <email_validate>
                <email_validate_url>https://api.experianmarketingservices.com/sync/queryresult/EmailValidate/1.0/</email_validate_url>
            </email_validate>
        </qas_address_verifier>
    </default>
</config>
